@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root {
  --bg-color: #f1f1f1;
  --bg-secondary: #fbfbfb;
  --light-brown: #c7a17a;
  --black: #1f2226;
}
body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  color: var(--black);
}
ul {
  font-family: "Oswald", sans-serif;
}
a {
  font-family: "Oswald", sans-serif;
}
/* utility classes بستخدمها كتير  */
.container {
  max-width: 1200px;
  margin: auto;
}
.taxt-praumry {
  color: #96714d;
}

#header {
  position: fixed;
  background-color: #ebebeb;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
#header .navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 90px;
}
#header .navber .logo {
  width: 300px;
}
#header .navber ul {
  display: flex;
  list-style: none;
  /* بيشل النقط الي جنب اللينك  */
}
#header .navber ul li a {
  color: #1f2226;
  font-style: 18px;
  margin: 0 20px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-decoration: none;
  /* بيشيل الخط الي تحت اللينك  */
}
#header .navber ul li a:hover {
  color: #c7a17a;
}
#home {
  background: url(img/Download\ free\ image\ of\ Coffee\ beans\ mobile\ wallpaper\,\ food\ &\ drink\ background\ about\ coffee\ beans\,\ coffee\ iphone\ wallpaper\,\ wallpaper\ coffee\,\ coffee\ background\,\ and\ iphone\ wallpaper\ 6341746.jpg)
    left no-repeat;
  background-size: 40%;
  background-color: hwb(160 88% 11% / 0.747);
}
#home .home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100vh;
  gap: 3rem;
  align-items: center;
}

#home .home-content .content-text h1 {
  font-size: 80px;
  margin: 20px 0;
  line-height: 1.3;
}
#home .home-content .content-text .btn {
  display: inline-block;
  margin-top: 2rem;
  background-color: #c7a17a;
  color: #d8d7d7;
  padding: 15px 25px;
  border-radius: 15px;
  text-decoration: none;
}
#home .home-content .content-text .btn:hover {
  background-color: #0f0f0f;
  color: #c7a17a;
  transition: all 0.3s ease;
}
#home .cup {
  display: block;
  margin-left: auto;
  margin-right: 0px;
  float: left;
  width: 100%;
}
#about,
#contact,
#heading,
#menu,
#footer .footer-top {
  padding: 6rem 0;
  background-color: #aca296;
}
#about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
#about .row .about-content h2 {
  font-size: 40px;
  margin-bottom: 10px;
}
#about .row .item h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
#menu {
  background-color: #d3c7b8;
}
.heading {
  text-align: center;
  padding: 30px 0;
}
.heading span {
  font-size: 15px;
  color: #74491f;
}
.heading h2 {
  font-size: 30px;
  font-weight: 500px;
}
#menu .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
  gap: 5rem;
  align-items: center;
}
#menu .row .col .item {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  border: 1px solid #96714d73;
  padding: 15px 10px;
}
#menu .row .col .item img {
  width: 50px;
}
#menu .row .col .item h3 {
  font-size: 20px;
  margin: 30px;
  flex: content;
}

#menu .row .col .item .price {
  border-left: 1px solid#96714d73;
  padding: 20px;
  margin: auto;
  font-size: 20px;
  font-weight: 400;
}
#Testimomials .heading {
  padding: 40px;
}
#Testimomials .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 6rem;
  gap: 2.5rem;
}
#Testimomials .row img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #ecebeb;
  margin-top: -50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#Testimomials .row .item {
  background-color: #ecd2b7;
  text-align: center;
  padding: 25px 25px 30px;
}
#Testimomials .row .item h3 {
  margin: 20px 0 10px;
}
#Testimomials .row .item p {
  line-height: 1.6;
}
#footer .footer-top {
  background: url(img/c3264cb6-af73-42be-8084-4208a27ecd9e.jpg);
  color: #e9e5e0;
}
#footer .footer-top .row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 3rem;
  text-transform: lowercase;
}
#footer .footer-top .row .col h3 {
  color: #ebebeb;
  margin-bottom: 15px;
}
#footer .footer-top .row .col ul li {
  margin: 10px 0;
}
#footer .footer-top .row .col ul li i {
  margin-right: 10px;
}
#footer .footer-top .row .col ul li a {
  color: #d3c7b8;
  text-decoration: none;
}
#footer .copy-right {
  background-color: #796450;
  padding: 30px 0;
  text-align: center;
  color: #d8d7d7;
}
#footer .copy-right p a {
  color: #d8d7d7;
  text-decoration: none;
  transition: all 0.3s ease;
}
#footer .copy-right p a:hover {
  color: #74491f;
}
