body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.container h4 {
    text-align: right;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

a {
    /* margin-top: 20px;
    width: 100%; */
    padding: 10px 20px;
    background: linear-gradient(to right, #b5a17b, #b5a17b5c);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;

}

.si {
    text-align: center;

    margin: 20px;
    padding: 20px;


}

a:hover {

    background: linear-gradient(to right, #b5a17b5c, #b5a17b);
}