body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    width: 60%;
    margin: 2rem auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    color: #444;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.form-group input,
textarea {
    width: 48%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    width: 48%;
    height: 60px;
    resize: none;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-group input {
    margin-right: 10px;
}

a {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b5a17b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: #8d7b5a;
}


@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }

    .form-group input,
    textarea {
        width: 100%;
        margin-bottom: 10px;
    }
}