body {
    font-family: Arial, sans-serif;
    margin: 20px;
    direction: rtl;

    background-color: #e0b980;
}

h1 {
    text-align: center;
    color: #333;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.image-container img {
    width: 150px;
    height: 150px;
    margin: 0 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: transform 0.2s;
}

.image-container img:hover {
    transform: scale(1.1);
}

.description {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}